* {
  box-sizing: border-box;
}

body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ),
  url(../img/pokeball.png);
background-size: cover;
font-family: 'Permanent Marker', cursive;
color: white;
}

.title-bar {
  text-align: center;
}

.glow {
  font-size: 70px;
  color: #FFCB05;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
/*title animation*/
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #003A70, 0 0 40px #003A70, 0 0 50px #003A70, 0 0 60px #003A70;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3D7DCA, 0 0 40px #3D7DCA, 0 0 50px #3D7DCA, 0 0 60px #3D7DCA, 0 0 70px #3D7DCA;
  }
}

.dex li {
  list-style-type: none;
}

.poke-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: #3D7DCA;
  font-family: 'Press Start 2P', cursive;
  color: #FFCB05;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.poke-button:hover {
  background-color: #003A70;
}
